@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 5px;
    font-family: "Nunito";
    font-weight: 400;
}

/* LOGO */

.logo {
    background-image: linear-gradient(205deg, #fff, #df1515);
    background-clip: text;
    color: transparent;
}

.logo:hover {
    background-image: linear-gradient(205deg, #df1515, #fff);
    background-clip: text;
    color: transparent;
}

/* SEARCH BAR */
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #df1515;
    padding-right: 40px;
    color: #000000;
}

.input-search::placeholder {
    color: #000000;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #fff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #df1515;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid #df1515;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*  .button_share --> BUSCAR */

.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 45px;
    width: 130px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid #df1515;
}

.bn54 .bn54span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
}

.bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes bn54rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes bn54storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

/* THE 4 BLOCKS */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 2 / 1 / 3 / 2;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.blocks_one_color {
    background-image: linear-gradient(155deg, #e93030, #e93030);
}

.blocks_two_color {
    background-image: linear-gradient(205deg, #e93030, #e93030);
}

.blocks_three_color {
    background-image: linear-gradient(25deg, #e93030, #e93030);
}

.blocks_four_color {
    background-image: linear-gradient(335deg, #e93030, #e93030);
}

.blocks_one_color:hover,
.blocks_two_color:hover,
.blocks_three_color:hover,
.blocks_four_color:hover {
    transform: rotate(0) scale(0.8) translateZ(0);
    -webkit-filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
}

/*.blocks_hover:hover {
    transform: rotate(0) scale(1.2) translateZ(0);
    -webkit-filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
    filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.70));
}*/

/* MP4 */
video {
    object-fit: cover;
}

/* DESCRIPTION BLOC --> .button_share*/
.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn27 {
    background-image: linear-gradient(to right,
            #ed6ea0,
            #ec8c69,
            #f7186a,
            #fbb03b);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

/* MAP  */
.map-container {
    width: 100%;
    height: 600px;
}

.map-container-station {
    width: 100%;
    height: 350px;
}

@media (min-width: 640px) {
    .map-container-station {
        width: 100%;
        height: 350px;
        margin: 20px;
        /* top | right | bottom | left */
    }
}

/* INFOWINDOWMAPCARD */
.STATION_IN_SERVICE {
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    background-color: #15df1f;
    color: #fff;
    font-size: 24px;
}

.STATION_NOT_IN_SERVICE {
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    background-color: #e93030;
    color: #fff;
    font-size: 24px;
}